
.dialog-simple {
    &__chat-box {
        max-height: 400px;
        padding-right: 15px;
        overflow: auto;
    }
    &__message {
        margin-bottom: 15px;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        &--recipient {
            text-align: left;
            justify-content: flex-start;
            .dialog-simple__message-inner {
                background: #3c92ff;
                color: #fff;
            }
            .dialog-simple__message-attachments {
                a {
                    color: #fff;
                    background: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" viewBox="-66 0 569 569.286" width="569pt" xmlns="http://www.w3.org/2000/svg"><path d="m.109375 66.382812v493.132813c0 5.238281 4.246094 9.484375 9.484375 9.484375h360.367188c5.234374 0 9.480468-4.246094 9.480468-9.484375v-398.296875c0-.210938-.101562-.390625-.121094-.597656-.046874-.832032-.210937-1.652344-.484374-2.4375-.105469-.304688-.179688-.597656-.3125-.894532-.460938-1.03125-1.101563-1.972656-1.898438-2.777343l-94.832031-94.832031c-.804688-.800782-1.75-1.441407-2.789063-1.898438-.285156-.121094-.574218-.222656-.871094-.3125-.792968-.273438-1.617187-.4375-2.457031-.492188-.160156.027344-.347656-.074218-.546875-.074218h-265.535156c-5.238281 0-9.484375 4.242187-9.484375 9.480468zm346.957031 85.351563h-62.457031v-62.457031zm-327.992187-75.867187h246.570312v85.351562c0 5.234375 4.246094 9.480469 9.480469 9.480469h85.351562v379.335937h-341.402343zm0 0"/><path d="m398.410156 493.132812v18.964844h28.449219c5.238281 0 9.484375-4.242187 9.484375-9.480468v-493.132813c0-5.238281-4.246094-9.484375-9.484375-9.484375h-360.367187c-5.238282 0-9.484376 4.246094-9.484376 9.484375v28.449219h18.96875v-18.96875h341.398438v474.167968zm0 0"/><path d="m75.976562 189.667969h227.597657v18.964843h-227.597657zm0 0"/><path d="m75.976562 132.765625h75.867188v18.96875h-75.867188zm0 0"/><path d="m75.976562 246.566406h151.734376v18.96875h-151.734376zm0 0"/><path d="m246.675781 246.566406h56.898438v18.96875h-56.898438zm0 0"/><path d="m75.976562 303.464844h227.597657v18.96875h-227.597657zm0 0"/><path d="m75.976562 417.265625h227.597657v18.96875h-227.597657zm0 0"/><path d="m161.324219 360.367188h142.25v18.964843h-142.25zm0 0"/><path d="m75.976562 360.367188h66.382813v18.964843h-66.382813zm0 0"/><path d="m75.976562 474.167969h37.933594v18.964843h-37.933594zm0 0"/><path d="m132.875 474.167969h170.699219v18.964843h-170.699219zm0 0"/></svg>') left center no-repeat;
                    background-size: 14px;
                    margin-left: 0;
                    margin-right: 5px;
                }
            }
        }
    }
    &__message-name {
        font-size: 13px;
        margin-bottom: 5px;
    }
    &__message-date {
        font-size: 11px;
        margin-top: 5px;
        color: darkgray;
    }
    &__message-inner {
        display: inline-block;
        padding: 10px;
        background: #fbf8d7;
        border-radius: 10px;
        box-shadow: 0 0 6px -5px #000;
        font-size: 14px;
    }
    &__message-attachments {
        margin-top: 5px;
        a {
            display: inline-block;
            font-size: 13px;
            line-height: 16px;
            background: url('data:image/svg+xml;utf8,<svg fill="%23898d91" viewBox="-66 0 569 569.286" width="569pt" xmlns="http://www.w3.org/2000/svg"><path d="m.109375 66.382812v493.132813c0 5.238281 4.246094 9.484375 9.484375 9.484375h360.367188c5.234374 0 9.480468-4.246094 9.480468-9.484375v-398.296875c0-.210938-.101562-.390625-.121094-.597656-.046874-.832032-.210937-1.652344-.484374-2.4375-.105469-.304688-.179688-.597656-.3125-.894532-.460938-1.03125-1.101563-1.972656-1.898438-2.777343l-94.832031-94.832031c-.804688-.800782-1.75-1.441407-2.789063-1.898438-.285156-.121094-.574218-.222656-.871094-.3125-.792968-.273438-1.617187-.4375-2.457031-.492188-.160156.027344-.347656-.074218-.546875-.074218h-265.535156c-5.238281 0-9.484375 4.242187-9.484375 9.480468zm346.957031 85.351563h-62.457031v-62.457031zm-327.992187-75.867187h246.570312v85.351562c0 5.234375 4.246094 9.480469 9.480469 9.480469h85.351562v379.335937h-341.402343zm0 0"/><path d="m398.410156 493.132812v18.964844h28.449219c5.238281 0 9.484375-4.242187 9.484375-9.480468v-493.132813c0-5.238281-4.246094-9.484375-9.484375-9.484375h-360.367187c-5.238282 0-9.484376 4.246094-9.484376 9.484375v28.449219h18.96875v-18.96875h341.398438v474.167968zm0 0"/><path d="m75.976562 189.667969h227.597657v18.964843h-227.597657zm0 0"/><path d="m75.976562 132.765625h75.867188v18.96875h-75.867188zm0 0"/><path d="m75.976562 246.566406h151.734376v18.96875h-151.734376zm0 0"/><path d="m246.675781 246.566406h56.898438v18.96875h-56.898438zm0 0"/><path d="m75.976562 303.464844h227.597657v18.96875h-227.597657zm0 0"/><path d="m75.976562 417.265625h227.597657v18.96875h-227.597657zm0 0"/><path d="m161.324219 360.367188h142.25v18.964843h-142.25zm0 0"/><path d="m75.976562 360.367188h66.382813v18.964843h-66.382813zm0 0"/><path d="m75.976562 474.167969h37.933594v18.964843h-37.933594zm0 0"/><path d="m132.875 474.167969h170.699219v18.964843h-170.699219zm0 0"/></svg>') left center no-repeat;
            background-size: 14px;
            padding-left: 20px;
            margin-left: 5px;
        }
    }
    &__controls {
        margin-top: 15px;
        text-align: center;
    }
    &__text {
        width: 100%;
        padding: 15px;
        height: 100px;
        resize: none;
        border: 0;
        background: none;
        border-top: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        font-size: 13px;
        margin-bottom: 15px;
    }
    &__attach {
        input {
            display: none;
        }
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 15px;
        background: url('data:image/svg+xml;utf8,<svg fill="%23898d91" viewBox="-96 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path d="m160 512c-88.234375 0-160-71.765625-160-160v-224c0-11.796875 9.558594-21.332031 21.332031-21.332031 11.777344 0 21.335938 9.535156 21.335938 21.332031v224c0 64.683594 52.628906 117.332031 117.332031 117.332031s117.332031-52.648437 117.332031-117.332031v-234.667969c0-41.171875-33.492187-74.664062-74.664062-74.664062-41.175781 0-74.667969 33.492187-74.667969 74.664062v213.335938c0 17.640625 14.355469 32 32 32s32-14.359375 32-32v-202.667969c0-11.796875 9.558594-21.332031 21.332031-21.332031 11.777344 0 21.335938 9.535156 21.335938 21.332031v202.667969c0 41.171875-33.496094 74.664062-74.667969 74.664062s-74.667969-33.492187-74.667969-74.664062v-213.335938c0-64.679687 52.628907-117.332031 117.335938-117.332031 64.703125 0 117.332031 52.652344 117.332031 117.332031v234.667969c0 88.234375-71.765625 160-160 160zm0 0"/></svg>') center no-repeat;
        width: 38px;
        height: 38px;
        background-size: 20px;
        margin-bottom: 0;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            opacity: .7;
        }
    }
    &__progress {

    }
    &__progress-bar {
        height: 2px;
        background: #3c92ff;
        transition: width .3s;
    }
    &__attachments {
        border-top: 1px solid #f0f2f7;
        padding-top: 5px;
        margin-top: 5px;
    }
    &__attachment {
        margin-right: 15px;
        margin-top: 5px;
        font-size: 13px;
        display: inline-flex;
        align-items: center;
        line-height: 16px;
    }
    &__attachment-name {
        background: url('data:image/svg+xml;utf8,<svg fill="%23898d91" viewBox="-66 0 569 569.286" width="569pt" xmlns="http://www.w3.org/2000/svg"><path d="m.109375 66.382812v493.132813c0 5.238281 4.246094 9.484375 9.484375 9.484375h360.367188c5.234374 0 9.480468-4.246094 9.480468-9.484375v-398.296875c0-.210938-.101562-.390625-.121094-.597656-.046874-.832032-.210937-1.652344-.484374-2.4375-.105469-.304688-.179688-.597656-.3125-.894532-.460938-1.03125-1.101563-1.972656-1.898438-2.777343l-94.832031-94.832031c-.804688-.800782-1.75-1.441407-2.789063-1.898438-.285156-.121094-.574218-.222656-.871094-.3125-.792968-.273438-1.617187-.4375-2.457031-.492188-.160156.027344-.347656-.074218-.546875-.074218h-265.535156c-5.238281 0-9.484375 4.242187-9.484375 9.480468zm346.957031 85.351563h-62.457031v-62.457031zm-327.992187-75.867187h246.570312v85.351562c0 5.234375 4.246094 9.480469 9.480469 9.480469h85.351562v379.335937h-341.402343zm0 0"/><path d="m398.410156 493.132812v18.964844h28.449219c5.238281 0 9.484375-4.242187 9.484375-9.480468v-493.132813c0-5.238281-4.246094-9.484375-9.484375-9.484375h-360.367187c-5.238282 0-9.484376 4.246094-9.484376 9.484375v28.449219h18.96875v-18.96875h341.398438v474.167968zm0 0"/><path d="m75.976562 189.667969h227.597657v18.964843h-227.597657zm0 0"/><path d="m75.976562 132.765625h75.867188v18.96875h-75.867188zm0 0"/><path d="m75.976562 246.566406h151.734376v18.96875h-151.734376zm0 0"/><path d="m246.675781 246.566406h56.898438v18.96875h-56.898438zm0 0"/><path d="m75.976562 303.464844h227.597657v18.96875h-227.597657zm0 0"/><path d="m75.976562 417.265625h227.597657v18.96875h-227.597657zm0 0"/><path d="m161.324219 360.367188h142.25v18.964843h-142.25zm0 0"/><path d="m75.976562 360.367188h66.382813v18.964843h-66.382813zm0 0"/><path d="m75.976562 474.167969h37.933594v18.964843h-37.933594zm0 0"/><path d="m132.875 474.167969h170.699219v18.964843h-170.699219zm0 0"/></svg>') left center no-repeat;
        background-size: 14px;
        padding-left: 20px;
    }
    &__attachment-remove {
        background: url('data:image/svg+xml;utf8,<svg fill="%23f36f7c" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"> <g> <g> <path d="M294.111,256.001L504.109,46.003c10.523-10.524,10.523-27.586,0-38.109c-10.524-10.524-27.587-10.524-38.11,0L256,217.892 L46.002,7.894c-10.524-10.524-27.586-10.524-38.109,0s-10.524,27.586,0,38.109l209.998,209.998L7.893,465.999 c-10.524,10.524-10.524,27.586,0,38.109c10.524,10.524,27.586,10.523,38.109,0L256,294.11l209.997,209.998 c10.524,10.524,27.587,10.523,38.11,0c10.523-10.524,10.523-27.586,0-38.109L294.111,256.001z"/> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>') center no-repeat;
        background-size: 10px;
        margin-left: 5px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            opacity: .7;
        }
    }
    &__send {
        padding: 10px 30px;
        line-height: 20px;
        border: 1px solid #3c92ff;
        border-radius: 20px;
        font-size: 16px;
        color: #3c92ff;
        background: none;
        transition: all .3s;
        -webkit-appearance: none;
        &:hover {
            color: #fff;
            background: #3c92ff;
        }
        &:before {
            content: 'Написать продавцу';
        }
    }
    &__message-name {
        display: none;
    }
}

.chat {
    .dialog-simple {
        width: 100%;
        &__chat {
            margin-right: -15px;
        }
    }
}

.account-dialog__chat {
    overflow: visible;
    max-height: none;
    .dialog-simple__text {
        border-bottom: 0;
    }
    .dialog-simple__message {
        .dialog-simple__message-name {
            display: block;
        }
        .dialog-simple__message-avatar {
            width: 36px;
            height: 36px;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            margin-top: 17px;
            margin-right: 0;
            margin-left: 15px;
            order: 2;
        }
        &.dialog-simple__message--recipient {
            .dialog-simple__message-avatar {
                order: 0;
                margin-left: 0;
                margin-right: 15px;
            }
        }
    }
    .dialog-simple__controls {
        form {
            display: flex;
            align-items: center;
            .dialog-simple__text {
                height: 50px;
                margin-bottom: 0;
            }
            .dialog-simple__send {
                -webkit-appearance: none;
                flex-grow: 0;
                flex-shrink: 0;
                margin-left: 15px;
                padding: 0;
                width: 38px;
                height: 38px;
                border: 1px solid #3c92ff;
                border-radius: 50%;
                background: #3c92ff url('data:image/svg+xml;utf8,<svg fill="%23ffffff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <g> <g> <path d="M481.508,210.336L68.414,38.926c-17.403-7.222-37.064-4.045-51.309,8.287C2.86,59.547-3.098,78.551,1.558,96.808    L38.327,241h180.026c8.284,0,15.001,6.716,15.001,15.001c0,8.284-6.716,15.001-15.001,15.001H38.327L1.558,415.193    c-4.656,18.258,1.301,37.262,15.547,49.595c14.274,12.357,33.937,15.495,51.31,8.287l413.094-171.409    C500.317,293.862,512,276.364,512,256.001C512,235.638,500.317,218.139,481.508,210.336z"/> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>') no-repeat center;
                background-size: 20px;
                transition: all .3s;
                &:before {
                    display: none;
                }
                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}
